Language: Cpp
Standard: Cpp11

UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 80

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: true
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
PointerBindsToType: true
TabWidth: 4

IncludeCategories:
  - Regex:           '^<.*>'
    Priority:        0
    SortPriority:    0
  - Regex:           '.*'
    Priority:        2
    SortPriority:    2
SortIncludes: true
IncludeBlocks: Regroup

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AlwaysBreakTemplateDeclarations: true

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2



KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

ReflowComments: true

AlignConsecutiveMacros: true
AlignTrailingComments: true

AllowShortLambdasOnASingleLine: Empty

# AlignAfterOpenBracket: AlwaysBreak
# BinPackArguments: false
# BinPackParameters: false
